{% extends 'base.html.twig' %}

{% block title %}Modification des frais{% endblock %}

{% block body %}
    <div class="pt-5">
        {{ include('ligne_frais/_form.html.twig') }}
    </div>
{% endblock %}
