{% extends 'base.html.twig' %}

{% block title %}Modification Frais Hors Forfait{% endblock %}

{% block body %}
    <div class="pt-5">
        <h1 class="pt-5">Modification Frais Hors Forfait</h1>

        {{ include('ligne_frais_hors_forfait/_form.html.twig') }}

    </div>
{% endblock %}
