
{% extends 'base.html.twig' %}

{% block title %}BTS-SIO Accueil{% endblock %}

{% block body %}
    <section>
        <div class="row pt-5">
            <div class="col d-flex justify-content-center">
                <br><br>
                <h1 class="pt-5 d-flex justify-content-center" style="color: rgb(30,121,213);"><strong>Bienvenue sur la page d'accueil sur site GSB</strong><br></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-flex justify-content-center pt-5">
                <br><br>
                <img src="assets/logo2.png" style="border:solid 10px white" class=" d-flex justify-content-center"/>
            </div>
            <div class="col-6 d-flex justify-content-center pt-5">
                Le laboratoire GSB (Galaxy Swiss Bourdin) est une industrie pharmaceutique spécialisée dans les médicaments & les molécules ayant entrainées des complications médicales.<br>

                - C’est une société anonyme (SA).<br>
                - GSB a une finalité à but lucratif.<br>
                - Les acteurs internes sont des visiteurs qui sont internes à GSB<br>
                - Les acteurs externes sont la relation d’architecture client-serveur<br>
                - Nous faisons partie également des acteurs externes du GSB<br>
                - Les secteurs d’activités de GSB sont les hôpitaux & les officines (ex : pharmacies indépendantes)

                <div class="row" style="height: 10vw"></div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}