{% extends 'base.html.twig' %}

{% block title %}Modification Frais Forfaitaire{% endblock %}

{% block body %}
    <div class="pt-5">
        <h1 class="pt-5">Modification Frais Forfaitaire</h1>

        {{ include('ligne_frais_forfait/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('ligne_frais_forfait/_delete_form.html.twig') }}
    </div>
{% endblock %}
