
{% extends 'base.html.twig' %}

{% block title %}GSB - Gsb{% endblock %}

{% block body %}
    <section>
        <div class="row pt-5">
            <div class="col d-flex justify-content-center">
                <br><br>
                <h1 class="pt-5 d-flex justify-content-center" style="color: rgb(30,121,213);"><strong>Description du laboratoire GSB</strong><br></h1>
            </div>
        </div>
        <div class="row" style="background-color: white;border-style: none;border-radius: 31px;">
            <div class="col-6 d-flex justify-content-center">

                <p class="align-content-center pt-3">Répartition des services Chaque   étage   dispose   d'une   baie   debrassage qui le relie par une fibre à labaie centrale de la salle serveurs. Toutes   les   salles   de   réunion   sontéquipées   d'un   point   d'accès   Wifipositionné   par   défaut   dans   le   VLAN"Visiteurs" qui autorise uniquement unaccès Internet. Les portables connectés en wifi à cepoint   d'accès   reçoivent   ainsi   uneadresse   IP   et   n'ont,   par   conséquentaccès qu'aux services DHCP et DNS.Le point d’accès peut être configuré àla demande pour être raccordé à unVLAN présent au niveau de l'étage.Chaque salle de réunion dispose d'unvidéoprojecteur,   d'enceintes   et   d'untableau numérique interactif. La salle "Démonstration" est destinée àl'accueil   des   organismes   de   santé(AFSSAPS   notamment)   et   despartenaires  scientifiques. Elle  disposede   paillasses   et   d'équipements   delaboratoire,   en   plus   d'une   salle   de réunion.
            </div></p>
            <div class="col-6 d-flex justify-content-center">
                <img src="assets/schema.png" class="p-2 img-fluid">
            </div>
        </div>
        <div class="row" style="height: 10vw"></div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}